<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-moduscreate-plugins-echoswift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ModusEchoSwift</name>
  <js-module name="ModusEchoSwift" src="www/ModusEchoSwift.js">
    <clobbers target="modusechoswift" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ModusEchoSwift">
        <param name="ios-package" value="ModusEchoSwift" />
      </feature>
    </config-file>
    <source-file src="src/ios/ModusEchoSwift.swift" />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>The camera is used to scan for a DIN number.</string>
    </config-file>
  </platform>
</plugin>
